@import 'hs-typo';
@import 'hs-flex';
// @media only screen and (min-width: 1920px) {
//     html{
//         font-size: 17px;
//     }

// }
@media only screen and (min-width: 1500px) {
    html{
        font-size: 16px;
    }

}
@media only screen and (max-width: 1499px) {
    .container {
        max-width: 100%;
        padding: 0 5%;
    }
    header{
        .logo-container h1{
            padding-right: 0;
            &:before{
                display: none;
            }
        }
        .log-sign{
            flex: none;
        }
    }
    .hs-testimonial .testimonial-carousel-blk{
        padding: 0 5%;
    }

}
@media only screen and (max-width: 1200px) {
    .nav-link {
        position: relative;
        margin: 0 10px;
    }
    .logo-container{
        width: 150px;

        h1 img{
            height: auto;
            vertical-align: middle;
        }
    }
    .hs-expert-btn {
        padding: 0.5rem 10px;
        font-size: 12px;
    }
    .home-banner .content{
        width: 50%;
         h2{
            font-size: 54px;
        }
    }
    .hs-img-content .hs-content h2 {
        font-size: 44px;
    }
    header{
        .logo-container h1{
            font-size: 2rem;
            &:before{
                display: none;
            }
        }
        .log-sign{
            flex: none;
        }
    }
    .hs-img-content,.hs-services,.hs-testimonial {
        padding: 50px 0;

        h3{
            margin-bottom: 20px;
        }
    }
    .title-m {
        font-size: 20px;
    }
    .our-team .team-members{
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    // title classes 
    .title-l{
        font-size: 34px!important;
    }
    .title-m{
        font-size: 20px;
    }

    .home-banner .content {
        width: 80%;
        margin-top: 5%;
    }

    .hs-img-content .hs-content h2 {
        font-size: 28px;
        padding-right: 0;
        margin-bottom: 10px;
    }
    .hs-img-content .hs-img{
        width: 40%;
        height: 200px;
    }
    .hs-services .services-grid .service-box {
        width: 32.33%;
        margin: .5%;
    }
    .hs-testimonial .testimonial-carousel-blk {
        padding: 0;
    }
    .hs-testimonial .testimonial-box .testimonial-content{
        .justify-content(space-between);
        p{
            max-height: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
        }
    }
    .contact-us {
        padding-top: 0;
        .contact-us-left,.contact-us-right{
            width: 100%;
            flex: none;
        }
        .contact-us-right{
            .flex-direction(row);
            .contact-img {
                margin-bottom: 0!important;
                margin-right: 20px;
            }
        }
    }
    .hs-dev-blk .dev-grid{
        padding: 0;
    }
    .hs-dev-blk .dev-grid .service-box.development.development {
        height: 400px;
    }
    .customer-reviews .review-right{
        width: 100%;
    }
    .customer-reviews .review-left{
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
        p{
            .justify-content(center);
            text-align: center;
        }
    }
    .service-blk .service-content {
        padding: 0;
        p{
            line-height: normal;
            font-size: 20px;
        }
    }
    .service-blk .service-bottom {
        .service-content{
            padding-right: 5%;
        }
        .service-img{
            padding-right: 0;
        }
    }
    .service-blk {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 767px) {
    // title classes 
    .title-l{
        font-size: 28px!important;
    }
    .title-m{
        font-size: 18px;
    }
    .home-banner{
        height: 50vh;
    }
    .home-banner .content h2 {
        font-size: 34px;
    }
    .home-banner .social-icons a {
        width: 30px;
        margin-bottom: 20px;
    }
    .hs-img-content .hs-img {
        width: 80%;
        height: 170px;
        margin-bottom: 20px;
    }
    .hs-img-content .hs-content {
        width: 100%;
        padding-left: 0;
    }
    .hs-services .services-grid .service-box {
        width: 47%;
        margin: 1.5%;
    }
    footer .social-icons a {
        width: 30px;
    }
    footer .mail-id{
        font-size: 13px;
    }
    .contact-us .contact-us-left{
        div{
            .flex-direction(column);
            text-align: center;
            h4{
                margin-bottom: 10px;
            }
        }
    }
    .contact-us-form .expert-left .hs-btn{
        width: auto;
    }
    .hs-dev-blk .dev-grid .service-box.development.development{
        width: 48%;
    }
    .hs-img-content .hs-content p{
        padding-right: 0;
        text-align: center;
    }
    .hs-img-content .hs-content h2{
        text-align: center;
    }
    .customer-reviews .review-right progress[value]{
        min-width: 200px;
    }
    .slick-slider .slick-prev{
        left: 0;
    }
    .slick-slider .slick-next{
        right: 0;
    }
    .service-blk {
        .service-content{
            width: 100%;
            flex: none;
        }
        .service-img{
            width: 100%;
            flex: none;
            padding: 0 10%!important;
            margin-bottom: 20px;
        }
    }
    .service-blk .service-bottom {
        .flex-direction(column-reverse);
    }
    .expert-right{
        display: none;
    }
    .hs-testimonial h3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 530px) {
    .title-l {
        font-size: 20px !important;
    }
    .hs-btn{
        font-size: 14px;
    }
    .hs-services .services-grid .service-box{
        width: 96%;
        margin: 2%;
    }
    .home-banner .content h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .home-banner .content p {
        padding-right: 0;
    }
    footer .copyright .language-select {
        width: 70px;
        margin-left: 15px;
    }
    .expert-left{
        width: 100%;
    }
    .hs-dev-blk {
        .dev-grid{
            padding: 0 10%;
            .service-box.development.development{
                width: 98%;
            }
        }
    }
    .customer-reviews .customer-reviews-content{
        padding: 0;
    }
    .about-us .about-us-text p{
        padding: 0;
    }
    .home-banner .social-icons {
       margin-left: 0;
    }
}